Build/include/Jewel3D/
ipch/
Engine/obj/
Engine/bin/
Tools/TemplateProject/Assets/
Tools/TemplateProject/obj/
Tools/TemplateProject/bin/
Tools/TemplateEncoder/obj/
Tools/TemplateEncoder/bin/
Tools/FontEncoder/obj/
Tools/FontEncoder/bin/
Tools/MeshEncoder/obj/
Tools/MeshEncoder/bin/
Tools/TextureEncoder/obj/
Tools/TextureEncoder/bin/
Tools/AssetManager/obj/
Tools/AssetManager/bin/
Log_Output.txt
Jewel3D.lib
*.opendb
*.TMP
*.VC.db
.vs/Jewel3D/
.vscode/
