[submodule "external/scaffold"]
	path = external/scaffold
	url = https://github.com/EmilianC/scaffold.git
	branch = compile-options
[submodule "samples"]
	path = samples
	url = https://github.com/EmilianC/Gemcutter-Samples.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/soloud"]
	path = external/soloud
	url = https://github.com/EmilianC/soloud.git
[submodule "external/loupe"]
	path = external/loupe
	url = https://github.com/EmilianC/Loupe.git
