[submodule "external/scaffold"]
	path = external/scaffold
	url = https://github.com/EmilianC/scaffold.git
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
